<div data-role = "page" id = "quizquestionnotsure">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
			<div class = "ui-block-c" style = "text-align: right">
				<div style = "margin: 0 0.2em 0 0"><%= @counter + 4 %> / 8</div>
			</div>
		</div>
	</div>
	<% iscorrect = nil %>
	<div class = "content">
		<p style = "text-align: center; font-size: 1.1em; line-height: 135%; margin: 1em"><%= @reason.question %></p>
	</div>
	
	<div class = "ui-grid-b">
		<div class = "ui-block-a"></div>
		<div class = "ui-block-b">
			<div>
				<a href = "#reason" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Not Sure?</a>
			</div>
		</div>
	</div>
	
	<% i = 0 %>
	<% j = 0 %>
	<% index = rand(4) %>
	<% while i < 4 %>
		<% if i == index %>
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<%=form_for @activity, html:{"data-ajax"=>"false"} do |f| %>
					<% if @counter == 1 %>
						<%= f.hidden_field :quiz1, value: true %>
						<%= f.submit @reason.correct_answer, "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 2 %>
						<%= f.hidden_field :quiz2, value: true %>
						<%= f.submit @reason.correct_answer, "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 3 %>
						<%= f.hidden_field :quiz3, value: true %>
						<%= f.submit @reason.correct_answer, "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 4 %>
						<%= f.hidden_field :quiz4, value: true %>
						<%= f.submit @reason.correct_answer, "data-theme"=>"k" %>
					<% end %>
				<% end %>	
			</div>
		<% elsif j == 0 %>	
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#wrong" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.wrong_answer1%> 
					</div>
				</a>	
			</div>
			<% j += 1%>
		<% elsif j == 1 && @reason.wrong_answer2 != "<blank>"%>
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#wrong" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.wrong_answer2%> 
					</div>
				</a>	
			</div>
			<% j += 1%>
		<% elsif @reason.wrong_answer3 != "<blank>"%>
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#wrong" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.wrong_answer3%> 
					</div>
				</a>	
			</div>
			<% j += 1%>
		<% end %>				
		<% i += 1%>
  <% end %>	

</div>

<div data-role = "page" id = "reason">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
			<div class = "ui-block-c" style = "text-align: right">
				<div style = "margin: 0 0.2em 0 0"><%= @counter + 4 %> / 8</div>
			</div>
		</div>
	</div>
	iscorrect = 
	<%= iscorrect.to_s %>
	<div class = "content">
		<p style = "text-align: center; font-size: 1.1em; line-height: 135%; margin: 1em"><%= @reason.title %></p>
	</div>
	
	<div class = "ui-grid-b">
		<div class = "ui-block-a"></div>
		<div class = "ui-block-b">
			<div>
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
			</div>
			<% if iscorrect == nil %>
				<div>
					<a href = "#quizquestion" data-role = "button" style = "margin: 0 -5em 1em -5em" data-theme = "j" data-icon = "check">Quiz Me!</a>
				</div>
			<% else %>
				<%=form_for @activity, html:{"data-ajax"=>"false"} do |f| %>
					<% if @counter == 1 %>
						<%= f.hidden_field :quiz1, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 2 %>
						<%= f.hidden_field :quiz2, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 3 %>
						<%= f.hidden_field :quiz3, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 4 %>
						<%= f.hidden_field :quiz4, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<div data-role = "page" id = "quizquestion">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
			<div class = "ui-block-c" style = "text-align: right">
				<div style = "margin: 0 0.2em 0 0"><%= @counter + 4 %> / 8</div>
			</div>
		</div>
	</div>
	<div class = "content">
		<p style = "text-align: center; font-size: 1.1em; line-height: 135%; margin: 1em"><%= @reason.question %></p>
	</div>
	
	<% i = 0 %>
	<% j = 0 %>
	<% index = rand(4) %>
	<% while i < 4 %>
		<% if i == index %>
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#correct" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.correct_answer%> 
					</div>
				</a>	
			</div>
		<% elsif j == 0 %>	
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#wrong" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.wrong_answer1%> 
					</div>
				</a>	
			</div>
			<% j += 1%>
		<% elsif j == 1 && @reason.wrong_answer2 != "<blank>"%>
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#wrong" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.wrong_answer2%> 
					</div>
				</a>	
			</div>
			<% j += 1%>
		<% elsif @reason.wrong_answer3 != "<blank>"%>
			<div style="margin:0.65em 0 0.65em 0; font-size: 0.8em;">
				<a href="#wrong" data-role="button", data-icon="check" data-theme = "j"> 
					<div style="white-space: normal; margin: 0 -1em 0 -0.8em;">
						<%=@reason.wrong_answer3%> 
					</div>
				</a>	
			</div>
			<% j += 1%>
		<% end %>				
		<% i += 1%>
  <% end %>	

</div>

<div data-role="page" id="correct">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
			<div class = "ui-block-c" style = "text-align: right">
				<div style = "margin: 0 0.2em 0 0"><%= @counter + 4 %> / 8</div>
			</div>
		</div>
	</div>
	
	<div style="white-space: normal; min-height: 1em; padding: 0.4em; margin: 0 0 0 0;">
		<div class="ui-grid-b">
			<div class="ui-block-a">	
				<p style="margin: 1em 0 0 0; text-align: center; color: #33cc33; font-size: 1.15em; font-weight: bold;">
					Correct!</p>
			</div>
			<div class = "ui-block-b" align = "center">
				<img src=<%=@winpath%> width=<%=@winwidth%> height=<%=@winheight%>/>
			</div>
			<div class="ui-block-c">	
				<p style="margin: 1em 0 0 0; text-align: center; color: #33cc33; font-size: 1.15em; font-weight: bold;">
					Awesome!</p>
			</div>
		</div>	
	</div>
	
	<div data-role="header" data-theme="c" style="white-space: normal; min-height: 1em;
		padding: 0.4em 0.3em 0.4em 0.3em">	
		<p style="text-align: center"><%= @reason.title %></p>
	</div>

	<div style="height: 0.5em;"></div>
	<div style="margin: 1.6em 3.5em 2em 3.5em;">	
		<% iscorrect = true %>
		<%=form_for @activity, html:{"data-ajax"=>"false"} do |f| %>
			<% if @counter == 1 %>
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz1, value: true %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
			<% if @counter == 2 %>
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz2, value: true %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
			<% if @counter == 3 %>
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz3, value: true %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
			<% if @counter == 4 %>
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz4, value: true %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
		<% end %>
	</div>
</div>

<div data-role="page" id="wrong">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
			<div class = "ui-block-c" style = "text-align: right">
				<div style = "margin: 0 0.2em 0 0"><%= @counter + 4 %> / 8</div>
			</div>
		</div>
	</div>
	
	<div style="white-space: normal; min-height: 1em; padding: 0.4em; margin: 0 0 0 0;">
		<div class="ui-grid-b">
			<div class="ui-block-a">	
				<p style="margin: 1em 0 0 0; text-align: center; color: #ff0000; font-size: 1.15em; font-weight: bold;">
					Wrong!</p>
			</div>
			<div class="ui-block-b" align = "center">
				<img src=<%=@failpath%> width=<%=@failwidth%> height=<%=@failheight%>/>
			</div>
			<div class="ui-block-c">	
				<p style="margin: 1em 0 0 0; text-align: center; color: #ff0000; font-size: 1.15em; font-weight: bold;">
					Fail!</p>
			</div>
		</div>	
	</div>
	
	<div data-role="header" data-theme="f" style="white-space: normal; min-height: 1em;
		padding: 0.4em 0.3em 0.4em 0.3em">	
		<p style="margin:0; text-align: center; line-height:135%;">Correct Answer: <%=@reason.correct_answer%></p>
	</div>
	<div data-role="header" data-theme="c" style="white-space: normal; min-height: 1em;
		padding: 0.4em 0.3em 0.4em 0.3em">	
		<p style="margin:0; text-align: center; line-height:135%;"><%= @reason.title %></p>
	</div>

	

	<div style="height: 0.5em;"></div>
	<div style="margin: 1.6em 3.5em 2em 3.5em;">
		<% iscorrect = false %>
		<%=form_for @activity, html:{"data-ajax"=>"false"} do |f| %>
			<% if @counter == 1 %>	
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz1, value: false %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
			<% if @counter == 2 %>
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz2, value: false %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
			<% if @counter == 3 %>	
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz3, value: false %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
			<% if @counter == 4 %>	
				<a href = "#reasoninfo" data-role = "button" style = "margin: 1em -5em 1em -5em" data-theme = "k" data-icon = "info">Learn More</a>
				<%= f.hidden_field :quiz4, value: false %>
				<%= f.submit "Next", "data-theme"=>"j" %>
			<% end %>
		<% end %>
	</div>		 
</div>

<div data-role = "page" id = "dispute">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<h1>fuseGap</h1>
	</div>
	
	<div class = "content">
		<p style = "text-align: center">Under construction, sorry!</p>
	</div>
	
	<div class = "ui-grid-b">
		<div class = "ui-block-a"></div>
		<div class = "ui-block-b">
			<div>
				<a href = "#" data-role = "button" data-rel ="back" style = "margin: 0 -5em 1em -5em" data-theme = "f" data-icon = "back">Back</a>
			</div>
		</div>
	</div>
	
	<div data-role = "footer" data-position = "fixed" data-theme = "f">
		<h1>fuseGap</h1>
	</div>
</div>

<div data-role = "page" id = "reasoninfo">
	<div data-role = "header" data-position = "fixed" data-theme = "f">
		<div class = "ui-grid-b" style = "padding: 0.5em 0 0.5em 0">
			<div class = "ui-block-a"></div>
			<div class = "ui-block-b" style = "text-align: center">fuseGap</div>
			<div class = "ui-block-c" style = "text-align: right">
				<div style = "margin: 0 0.2em 0 0"><%= @counter + 4 %> / 8</div>
			</div>
		</div>
	</div>
	
	<div class = "content" style = "margin: 0 0.5em 0 0.5em">
		<p><%= simple_format(auto_link(@reason.description)) %></p>
	</div>
	iscorrect =
	<%= iscorrect.to_s %>
	<div class = "ui-grid-b">
		<div class = "ui-block-a"></div>
		<div class = "ui-block-b">
			<% if iscorrect == nil %>	
				<div>
					<a href = "#quizquestion" data-role = "button" style = "margin: 0 -5em 1em -5em" data-theme = "k" data-icon = "check">Quiz Me!</a>
				</div>
			<% else %>
				<%=form_for @activity, html:{"data-ajax"=>"false"} do |f| %>
					<% if @counter == 1 %>
						<%= f.hidden_field :quiz1, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 2 %>
						<%= f.hidden_field :quiz2, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 3 %>
						<%= f.hidden_field :quiz3, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
					<% if @counter == 4 %>
						<%= f.hidden_field :quiz4, value: iscorrect %>
						<%= f.submit "Next", "data-theme"=>"k" %>
					<% end %>
				<% end %>
			<% end %>
			<div>
				<a href = "#dispute" data-role = "button" style = "margin: 0 -5em 1em -5em" data-theme = "j" data-icon = "alert">Dispute Source</a>
			</div>
		</div>
	</div>
</div>